{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block the_body %}
    <div class="container-fluid inner_body_container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 registration_body">
                <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
