{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block the_body %}
    <div class="container-fluid inner_body_container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 registration_body">
                <form method="post">{% csrf_token %}
                    <div>
                        {% if form.errors %}
                            <div class="errornote alert alert-danger" role="alert">
                                {% if form.errors.items|length == 1 %}
                                    {% trans "Please correct the error below." %}{% else %}
                                    {% trans "Please correct the errors below." %}{% endif %}
                            </div>
                        {% endif %}
                        <div class="alert alert-info"
                             role="alert">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>

                        <fieldset class="module aligned wide">

                            <div class="form-row">
                                {{ form.old_password.errors }}
                                {{ form.old_password.label_tag }} {{ form.old_password }}
                            </div>

                            <div class="form-row">
                                {{ form.new_password1.errors }}
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                {% if form.new_password1.help_text %}
                                    <p class="help">{{ form.new_password1.help_text|safe }}</p>
                                {% endif %}
                            </div>

                            <div class="form-row">
                                {{ form.new_password2.errors }}
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {% if form.new_password2.help_text %}
                                    <p class="help">{{ form.new_password2.help_text|safe }}</p>
                                {% endif %}
                            </div>

                        </fieldset>

                        <div class="submit-row">
                            <input type="submit" value="{% trans 'Change my password' %}" class="default"/>
                        </div>

                        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
