{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block the_body %}
    <div class="container-fluid inner_body_container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 registration_body">
                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                <form method="post">{% csrf_token %}
                    {{ form.email.errors }}
                    <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit"
                                                                                                          value="{% trans 'Reset my password' %}"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
