{% load i18n %}
{% load l10n %}
<h3 class="title_text">{% trans 'Aninstance: Powered by Open Source Software' %}</h3>
{% blocktrans %}
    <ul id="pdf_footer_services">
        <li>Software engineering & development services
            (including Python programming; GTK GUI development;
            Django development; PHP coding; Javascript scripting)
        </li>
        <li>
            Professional, custom website design, development
            & support
        </li>
        <li>
            CMS provision, customisation & support (WordPress,
            WooCommerce, OpenCart, Discourse forums, Drupal)
        </li>
        <li>
            Hosted cloud services provision & support (including
            NextCloud, MatterMost, RocketChat, Mumble)
        </li>
        <li>
            Professional graphic design
        </li>
        <li>
            Linux & BSD administration & consultancy
        </li>
        <li>
            Technical support & consultancy services
        </li>
    </ul>
{% endblocktrans %}