{% load i18n %}
{% load l10n %}
<h3 class="title_text">{% trans 'Legal' %}</h3>
<hr>
<p>{% blocktrans %}Payment of this invoice indicates that you (the client and/or customer) accept and agree, in full,
    to the terms and conditions of the "Aninstance - Web & Cloud Hosting Contract" (for hosting services), or
    the "Aninstance - Web & Software Development / Technical Support Contract" (for development or technical support
    services), as provided online here: {% endblocktrans %}
    <a href="https://www.aninstance.com/legal" target="_blank">https://www.aninstance.com/legal</a>
</p>